body {background: green;}
.card {background: white; display: block; margin: auto; height: 400px; width: 275px; padding: 20px; border-radius: 10px; position: relative; font-size: 90px;
      text-align: center;
    .top-suit{position: absolute; top: 20px; left: 20px;}
    .bottom-suit {position: absolute; bottom: 20px ; right: 20px;}
}
.number {padding-top: 140px;}
